/* Empty. Add your own CSS if you like */
.imgSize{
    max-width: 100%;
	width: 300px;
	height: 400px;
	object-fit: contain;
}

.h200{
	height: 200px;
	overflow: scroll;
}

.h100{
	height: 100px;
	overflow: scroll;
}

.p10{
	padding: 10px;
}

.spinner svg {
	width: 19% !important;
	height: 85px !important;
}